default_language_version:
  python: python3.12.3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run ruff check
        language: system
        types_or: [python, pyi]
        args: [--fix, --exit-non-zero-on-fix]
        always_run: true
        pass_filenames: true
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types_or: [python, pyi]
        always_run: true
        pass_filenames: true
